## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [58]:
import pandas as pd
import numpy as np

In [59]:
#方法一
population = np.random.randint(5000,size=5)
country = ['Taiwan','Japan','Germany','US','Iraq']
data = {'國家':country ,
        '人口': population}
data = pd.DataFrame(data)
data

        國家    人口
0   Taiwan  1305
1    Japan   606
2  Germany  2157
3       US   747
4     Iraq  1577

In [60]:
#方法二
population_2 = [11,22,33,44,55]
country_2 = ['Taiwan','Japan','Germany','US','Iraq']
data_2 = {'國家':country_2 ,
        '人口': population_2}
data_2 = pd.DataFrame(data_2)
data_2

        國家  人口
0   Taiwan  11
1    Japan  22
2  Germany  33
3       US  44
4     Iraq  55

In [61]:
#方法三
data_3 = {'國家': ['Taiwan','Japan','Germany','US','Iraq'] ,
        '人口':[111,222,333,444,555]}
data_3 = pd.DataFrame(data_3)
data_3

        國家   人口
0   Taiwan  111
1    Japan  222
2  Germany  333
3       US  444
4     Iraq  555

In [62]:
#方法四
population_4 = np.random.randint(500,size=5)
country_4 = ['Taiwan','Japan','Germany','US','Iraq']
data_4 = pd.DataFrame(list(zip(country_4,population_4)),columns=['國家','人口'])
data_4

        國家   人口
0   Taiwan  448
1    Japan  310
2  Germany  265
3       US  263
4     Iraq  420

## 求人口數最多的國家

In [63]:
index_of_max = data['人口'].idxmax
print("最多人口的國家為:\n",data.loc[index_of_max])

最多人口的國家為:
 國家    Germany
人口       2157
Name: 2, dtype: object